body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
} 

.title {
	padding: 2rem;
	background-color: blanchedalmond;
	font-weight: bold;
}

.btn {
	margin-bottom: 1rem;
}

/* override default styling from materialize */
.page-footer {
	background-color: blanchedalmond;
	color: black;
	padding-right: 2rem;
	height: 80px;
}